:root {
    font-size: 13px;
    --body-color: #222;
    --main-nav: rgba(0,0,0,0.87);
    --base-margin: 15px;
    --large-margin: 30px;
}

body {
    font-family: arial,sans-serif;
    font-size: 1rem;
    color: var(--body-color);
    line-height: 1.85;
}

/* Layout */
.container-fluid {
    width: 100%;
    padding-left: var(--large-margin);
    padding-right: var(--large-margin);
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 644px;
    padding-left: var(--large-margin);
    padding-right: var(--large-margin);
    margin: 0 auto;
    box-sizing: border-box
}

/* Main Section */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* Header */

header {
    padding: var(--base-margin) var(--large-margin);
    text-align: right;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav a {
    color: var(--main-nav);
    text-decoration: none;
    margin-right: var(--base-margin);
}

header nav a:last-child {
    margin-right: 0
}

header nav a:hover {
    text-decoration: underline;
    opacity: .85;
}

.google-apps {
    width: 30px;
    height: 30px;
    background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    display: inline-block;
}

.user {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('https://randomuser.me/api/portraits/men/44.jpg');
    background-size: 32px 32px;
    border-radius: 50%;
}

/* Googel Logo */
.logo {
    text-align: center;
    margin-bottom: 25px;
}

/* Search Field */
.search-field {
    margin-bottom: 25px;
    position: relative;
}

.search-field input {
    width: 100%;
    border-radius: 50px;
    border: 1px solid #dfe1e5;
    padding: 10px 45px;
    height: 44px;
    font-size: 16px;
    box-sizing: border-box;
}

.search-field input:focus, .search-field input:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    outline: 0;
    border-color: rgba(223,225,229,0)
}

.search-field svg {
    position: absolute;
    width: 25px;
    top: 50%;
    transform: translateY(-50%)
}

.search-field .search-icon {
    width: 20px;
    left: 15px;
    opacity: .5;
}

.search-field .search-by-voice {
    right: 15px;
}